.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b536f; /* Blue background */
  color: white; /* White text */
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header-container {
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure the header stays above other content */
  background-color: #3b536f; /* Blue background */
  color: white; /* White text */
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* Optional: for smooth background transition */
}

/* Optional: Add a class to change background on scroll */
.sticky {
  background-color: #0056b3; /* Darker blue when sticky */
}

.logo {
  font-size: 24px;
}

.bank-name {
  margin: 0;
  font-weight: bold;
}

.navbar {
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white; /* White text for links */
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd700; /* Gold color on hover */
  cursor: pointer;
}

.nav-links p {
  text-decoration: none;
  color: white; /* White text for links */
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links p:hover {
  color: #ffd700; /* Gold color on hover */
  cursor: pointer;
}
